html {
    text-align: center  ;
}

body {
    background-color: #4c728398;
}

#calc {
    display: flex;
    min-height: 95vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#main-container {
    display: grid;
    border: 10px solid black;
    gap: 2px;
    background-color: black;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
}

#display {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color:lightgray;
    font-size: 4em;
    padding: 10px;
    border-radius: 1%;
    margin-bottom: 10px;
}

button {
    font-size: 2em;
    color: black;
    margin: 1px;
    border: none;
    border-radius: 10%;
    background-color: grey;
}

#zero {
    grid-column: span 2;
}

.equals {
    grid-row: span 2;
}

button.operator, button.clear, button.delete, button.equals {
    background-color: orange;
}